# Supabase
VITE_SUPABASE_URL=https://TUPROYECTO.supabase.co
VITE_SUPABASE_ANON_KEY=tu_anon_key_aqui

# football-data.org (consigue tu key gratis en football-data.org)
VITE_FOOTBALL_API_KEY=tu_football_api_key_aqui
